block content
  doctype html
  html
    head
      meta(charset="utf-8")
      meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
      title
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
      script(src="javascripts/RTCMultiConnection-v1.9.js")
      script(src="javascripts/socket.io-1.0.6.js")
      
      link(href="stylesheets/ionic.css", rel="stylesheet")
      link(href="stylesheets/style.css", rel="stylesheet")
      link(href="stylesheets/ionicons.css", rel="stylesheet")
      
      script(src="javascripts/ionic.bundle.js")
      //- script(src="cordova.js")
      script(src="javascripts/app.js")
      script(src="javascripts/controllers.js")
      script(src="javascripts/services.js")
  body(ng-app="starter", ontouchstart="")
    ion-nav-bar.bar-calm.nav-title-slide-ios7(align-title='center')
      ion-nav-buttons(side='primary')
        a.button.button-icon.button-clear.ion-home(ui-sref='home', ng-if='$root.settingsPage == true')  
      ion-nav-back-button.button-icon.ion-arrow-left-c       
      ion-nav-buttons(side='secondary')
        a.button.button-icon.button-clear.ion-gear-a(ui-sref='about', ng-if='$root.settingsPage == false') 
    ion-nav-view.slide-left-right
    
    script(id='templates/home.html', type='text/ng-template')
      ion-view(view-title="<h1 class='title' style='font-family:lato;font-size: 150%;'>Caster</h1>")
        ion-content
          .card(style="width: 80%;")
            .item.item-text-wrap(style="text-align: center;")
              | Live stream videos as you record them on your Android device.

          .card(style="width: 80%;")
            input#stream-name(type="text" placeholder="Name your stream...")

            input#videoCaptureInput(type="file", accept="video/*", capture="camcorder", style="display:none;")
            input#audioCaptureInput(type="file", accept="audio/*", capture="", style="display:none;")
            #cameraOptions
              #frontCameraOption.cameraSwitch.activated
                  | Front
                #backCameraOption.cameraSwitch
                  | Back
          .start.raised.green
            a(href="/userView", id="startButton")
              #startButton.center START
