block content
	doctype html
	html
		head
			meta(charset="utf-8")
			meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
			title
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
			script(src="javascripts/RTCMultiConnection-v1.9.js")
			script(src="javascripts/socket.io-1.0.6.js")
			
			link(href="stylesheets/style.css", rel="stylesheet")
			

	body
		h1 User View
		a(href="", id="smsLink") Share
		video#v(autoplay="")
		script(src="javascripts/casterfrontend.js")