html
	head
		title Caster
		script(src="javascripts/RTCMultiConnection-v1.9.js")
		script(src="javascripts/socket.io-1.0.6.js")
		script(src="javascripts/casterfrontend.js")
		style.
			h1 {
				color: #777;
				font-family: "Helvetica Neue", helvetica, sans-serif;
				font-size: 3vw;
			}
	body
		h1= id
		video(autoplay, id="video-channel")
