block content
	doctype html
	html
		head
			meta(charset="utf-8")
			meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
			title
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
			script(src="javascripts/RTCMultiConnection-v1.9.js")
			script(src="javascripts/socket.io-1.0.6.js")

			link(href="stylesheets/ionic.css", rel="stylesheet")
			link(href="stylesheets/style.css", rel="stylesheet")
			link(href="stylesheets/userView.css", rel="stylesheet")
			link(href="stylesheets/ionicons.css", rel="stylesheet")
			script.
				localStorage.homeLink = "templates/home.html"
			script(src="javascripts/ionic.bundle.js")
			//- script(src="cordova.js")
			script(src="javascripts/app.js")
			script(src="javascripts/controllers.js")
			script(src="javascripts/services.js")
			

	body.user(ng-app="starter", ontouchstart="")
		//- h1 User View
		//- a(href="", id="smsLink") Share
		video#v(autoplay="")
		ion-header-bar.bar-calm.main(align-title='center')
			a(href="http://www.caster.link")
				button.button.icon.ion-arrow-left-a.back
			h1.title Caster
			button.button.icon.ion-person-stalker.social

		.modalOverlay
			#socialModal.casterModal
				.header
					h1.title Social
					.icon.ion-close-round.close
				.content
					.row.sharingOptions
						.col.icon.ion-social-facebook.facebook
							a(href="mailto:bogdanvitoc")
						.col.icon.ion-social-twitter.twitter
							//- a.twitter-share-button(href="https://twitter.com/share")
					.row.sharingOptions
						.col.icon.ion-email.email
							
						.col.icon.ion-android-chat.sms
							
					.row.sharingOptions
						.col.list
							label.item.item-input
								input#link(type="text", readonly)

		script(src="javascripts/casterfrontend.js")
		script.

			$().ready(function(){

				var modalOverlay = $(".modalOverlay");
				$("video").click(function(){
					var header = $(".bar-header");
					header.toggleClass("reveal");
				});
				$("button.button.social").on("touchend", function() {

					modalOverlay.fadeToggle();
				});
				
				$("#socialModal .close").on("touchend", function(e){
					console.log(e.relatedTarget);
					console.log("TOGGLE");
					modalOverlay.fadeToggle();
				});
				$(".icon.facebook").click(function(){

				});

				$(".icon.twitter").on("touchend", function(){
					$($("a.twitter-share-button")[0]).click();	
				});

				$(".icon.email").on("touchend", function() {
					var a = $("<a href='mailto:?subject=Caster Stream&body="+resultingUrl+">");
					$($("body")[0]).append(a);
					a.click();

				});
				$(".icon.sms").on("touchend", function(){
					var a = $("<a href='sms:?subject=Caster Stream&body="+resultingUrl+">");
					$($("body")[0]).append(a);
					a.click();
				});
			});