a{
	text-decoration: none;
	color: white;
}

.card{
	margin-left: auto;
    margin-right: auto;
}

#stream-name{
	margin-left: auto;
    margin-right: auto;
    width: 65%;
}

#frontCameraOption{
	border-right: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-top-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
}

#backCameraOption{
	border-left: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-top-left-radius: 0;
	-moz-border-bottom-left-radius: 0;
}

#cameraOptions{
	margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin: 2.5% auto;
    line-height: 50px;
    text-align: center;
}

.start {
	margin-left: auto;
    margin-right: auto;
    width: 70%;
	line-height: 50px;
	border-radius: 2px;
	font-size: 150%;
	background-color: #fff;
	color: #646464;
	text-align: center;
}

.start > paper-ripple {
	border-radius: 2px;
	overflow: hidden;
}

.start.green {
	background-color: #4CDA64;
	color: #fff;
}
.start.green:active, .start.green:hover, .start.green.fake-active {
	opacity: .6;
}

.cameraSwitch {
	display: inline-block;
	width: calc(50% - 4px);
	border-radius: 2px;
	border: 1px solid #ddd;
	font-size: 150%;
	background-color: #fff;
	color: #ddd;
	text-align: center;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.cameraSwitch:active, .cameraSwitch:hover,  .cameraSwitch.preactivated {
	background-color: #666;
	color: #fff;
	border: 1px solid #fff;
	opacity: .4;
}

.cameraSwitch.activated {
	background-color: #666;
	color: #fff;
	border: 1px solid #fff;
	opacity: 1;
}