.user {
	margin: 0;
	overflow: hidden;
	background-color: #222;
}

.user video {
	width: 100%;
}


.user .bar-header.main {
	background: linear-gradient(rgba(17, 193, 243, 0.6), rgba(17, 193, 243, 0.0));
}

.user .bar-header.main h1.title {
	font-size: 25px;
}

.bar-header.main.reveal {
	animation-name: revealHeader;
	animation-duration: 1.2s;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	-webkit-animation-name: revealHeader;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-direction: alternate;
	-webkit-animation-fill-mode: forwards;
}

.bar-header.main * {
	opacity: 0;
}

.bar-header.main.reveal * {
	animation-name: fadein;
	animation-duration: 1.2s;
	animation-fill-mode: forwards;
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-fill-mode: forwards;
}

.modalOverlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	z-index: 10;
}

#socialModal {
	display: inline-block;
	position: relative;
	top: 20vh;
	padding: 20px 10px;
	border-radius: 10px;
	background-color: white;
	z-index: 11;
}

.casterModal h1.title {
	font-size: 25px;
	border-bottom: 1px solid #ddd;
}

.sharingOptions {
	font-size: 88px;
	text-align: center;
}

.sharingOptions .icon {
	padding: 15px;
	color: #111;
}

#link {
	background-color: transparent;
	cursor: text;
}

/*.sharingOptions input {
	background-color: transparent;
}*/

.sharingOptions .icon:hover {
	animation-name: fadeBlackToBlue;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
	-webkit-animation-name: fadeBlackToBlue;
	-webkit-animation-duration: 0.3s;
	-webkit-animation-fill-mode: forwards;
	cursor: pointer;	
}

@-webkit-keyframes fadeBlackToBlue {
	from {color: #111;}
	to {color: #444;}
}
@-webkit-keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}
@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}
@-webkit-keyframes revealHeader {
	from {background: linear-gradient(rgba(17, 193, 243, 0.6), rgba(17, 193, 243, 0.0));}
	to {background: rgba(17, 193, 243, 0.6);
}
@keyframes revealHeader {
	from {background: linear-gradient(rgba(17, 193, 243, 0.6), rgba(17, 193, 243, 0.0));}
	to {background: rgba(17, 193, 243, 0.6);
}
